<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <title>CoronaVirus Tracker Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>

<div class = "container">
<h1>CoronaVirus Tracker Application</h1>
<p>This application lists the current number of cases reported across the globe</p>

    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of today</p>
        <hr class = "my-4">
        <p>
            <span>New Cases Reported Since previous Day</span>
            <span th:text = "${totalNewCases}"></span>
        </p>
    </div>

    <table class = "table">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total Cases Reported</th>
            <th>Changes Since Last Day</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>
</body>
</html>